.navbar-nav a {
    color: #000;
}
section{
    margin-bottom: 100px;
}
.slide-bg {
    background-color: #FEEAE9;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
button.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    text-transform: uppercase;
}
.catagories1{
    background-color: #FF136F;
}
.catagories2{
    background-color: #DA70D6;
}
.catagories3{
    background-color: #0000FF;
}
.catagories1, .catagories2, .catagories3{
    padding: 15px 30px;
    border-radius: 10px;
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}